body{
    background-color: black!important;
}

@media only screen and (max-width: 600px){
    body{

        height: fit-content!important;
    }
    .movierow {
        display: flex!important;
        flex-wrap: nowrap!important;
        justify-content:flex-start;
        margin-left: auto!important;
        margin-right: 3rem!important;
    }   
 
}